.container{
  margin-bottom: 80px;
}


.navbar {
margin-bottom: 25px;
}

.orange-bg{
  background-color: #fceae8;
}
.carousel-item{
padding: 20px 40px;
}
.carousel-title{
  font-size: 60px;
}
.price{
  color: #FF136F;
}
#bag{
  padding-bottom: 10px;
  background-color: white;
  box-shadow: rgb(156, 152, 152) 5px 5px 20px ;
}
#pale{
  height: 400px;
  width: 600px;
}
.btn-btn{
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
footer{
  text-align: center;
  height: 25px;
  background-color: lightgray;
}